@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #ecf0f1;
  border-radius: 8px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #2c3e50;
}

input[type="text"] {
  width: calc(100% - 70px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.button:hover {
  background-color: #2980b9;
}

ul {
  list-style: none;
  padding: 0;
}

li:nth-child(odd) {
  background-color: #d5dbdb; 
}

li:nth-child(even) {
  background-color: #ecf0f1; 
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

li input[type="checkbox"]:checked + span {
  background-color: #f0f0f0; 
  text-decoration: line-through;
  color: #777; 
}

li button {
  background: none;
  border: none;
  cursor: pointer;
  color: #3498db;
  font-size: 16px;
}

li button:hover {
  color: #2c3e50;
  background-color: #2980b9;
}

button:focus, input:focus, [role="button"]:focus {
  outline: 2px solid #3498db;
}

#clearAll { 
  background-color: rgb(190, 70, 70);
  border: none;
}

#clearAll:hover {
  color: #ffeeee;
background-color: #9f3535;
border: none;
}

footer {
  margin-top: 10px;
  color: #2c3e50;
  font-size: .5em;
}

@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 70%;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 50%;
  }
}
